/*Deixando os layouts de navegadores como padrão*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*HOME.PHP - esta parte do código estliza mais a parte do meu home.php*/

/*Estilizando todo o meu body, definindo minha fonte e meu display como flex para ficar centralizado e em colunas*/
body{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Verdana;
	font-size: 16px;
}

h1{
	margin-top: 30px;
	margin-bottom: 30px;
}

table, th, td {
	border-bottom: 1px solid #000;
}

th, td {
	padding: 10px;
}

.icone-editar{
	width: 30px;
	height: 30px;
	background-color: #ffa500;
	border-radius: 15px;
}
.icone-deletar{
	width: 30px;
	height: 30px;
	background-color: #dd2417;
	border-radius: 15px;
	cursor: pointer;
}
.icone-editar a,
.icone-deletar a{
	text-decoration: none;
	color: #545454;
}


/*Aqui eu estilizo o meu botão de adicionar um novo usuário*/
.btn-adicionar{
	padding: 10px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #4acb15;	
	text-align: center;
	cursor: pointer;
}
.btn-adicionar a{
	text-decoration: none;
	color: #000;
}

/*ADICIONAR.PHP e ADICIONAR.PHP - esta parte do código estliza mais a parte do meu adicionar.php e o editar.php*/
em{
	color: #ffa500;
}
fieldset{
	padding: 50px;
}
input{
	margin: 10px;
	width: 600px;
	height: 30px;
	border-bottom: 1px solid #000;
}
.btn-cancelar{
	padding: 10px;
	width: 200px;
	height: 50px;
	border-radius: 10px;
	background-color: #dd2417;	
	text-align: center;
}
.btn-cancelar a{
	text-decoration: none;
	color: #000;
}